-/*

Template : E commerce Store in php and mysqli with bootstrap 3
Author Name : Mohammed Tahir Ahmed
Author Email : sad.ahmed22224@gmail.com
Theme URL: http://www.computerfever.com
Version : 1.0



*/

/* Global Styles */

body {

margin-top:100px;

}

@media (min-width: 768px) {

body{

margin-top:50px;

}


}

#wrapper{

padding-left:0;

}

#page-wrapper{
width:100%;
padding:0;
background-color:#F9F9F9;


}

@media (min-width: 768px) {

#wrapper{
padding-left:255px;
}

#page-wrapper{
padding:10px;

}


}

/* Top Navigation */

.top-nav{

padding:0 15px;

}

.top-nav>li{
display:inline-block;
float:left;

}

.top-nav>li>a{
padding-top:15px;
padding-bottom:15px;
line-height:20px;
color:#999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus{
color:black;
}

/* Sidebar Styles */

@media (min-width: 768px) {

.side-nav{
position:fixed;
top:51px;
width:255px;
border-radius:0;
overflow-y:auto;
background-color: #222;
bottom:0;
overflow-x:hidden;
padding-bottom:40px;

}

.side-nav>li>a{
width:255px;

}

.side-nav li a:hover,
.side-nav li a:focus{
outline:none;
background-color:#000 !important;
}

}

.side-nav>li>ul{
padding:0;

}

.side-nav>li>ul>li>a{
display:block;
padding:10px 15px 10px 38px;
text-decoration:none;
color:#999;

}

.side-nav>li>ul>li>a:hover{
color:#fff;
}


/* Custom Color Panels Styles */


.huge {
font-size:40px;
line-height:normal;
}

.panel-green > .panel-heading{
color:#fff;
background-color:#5cd85c;

}

.panel-green > a{
color:#5cd85c;
}

.panel-red > .panel-heading{
color:#fff;
background-color:#d9534f;
}

.panel-red > a{
color:#d9534f;
}

.panel-yellow > .panel-heading{
color:#fff;
background-color:#f0ad4e;
}

.panel-yellow > a{
color:#f0ad4e;
}

/* Admin Profile Styles */

.panel-body {
border-radius:5px;
}

.thumb-info {
position: relative;
}

.mb-md {
margin-bottom: 15px !important;
}

.rounded {
border-radius:10px;

}

hr{
border:0;
height: 1px;
margin: 22px 0 22px 0;

}

hr.dotted {
height:0;
border-bottom: 1px dotted #ddd;
margin: 11px 0 11px 0;

}

.thumb-info .thumb-info-title {
background: rgba(36, 27, 28, 0.9);
bottom:10%;
color:#fff;
font-size:18px;
font-weight: 700;
left: 0;
letter-spacing: -1px;
padding: 9px 11px 9px;
position: absolute;
text-transform: uppercase;
z-index: 1;

}

.thumb-info .thumb-info-inner {
display:block;

}

.thumb-info .thumb-info-type {
background-color: #0088cc;
border-radius: 2px;
display: inline-block;
float:left;
font-size:12px;
font-weight:400;
letter-spacing:0;
margin: 8px -2px -15px -2px;
padding: 2px 9px;
text-transform:none;

}

.widget-content-expanded{
font-size:15px;
}

.widget-content-expanded span {
font-weight:bold;
}

.widget-content-expanded i {
color:#0088cc;
margin-right:5px;
}

.placeholder-highlight{
border:1px dotted #ccc;
}

.bold{
color:#333333;
font-weight:bold;
}

.wait-loader{
cursor:wait;
opacity:0.5;
}

@media (min-width:768px){
	
#product-variations-form .control-label {
padding-top: 7px;
margin-bottom:0px;
}

}

#product-variations-form .variation-hr{
    border-top: 1px solid #eee;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:-15px;
	margin-right:-15px;
}

#product-variations-form .single-variation-row strong{
display:inline;
font-size:17px;
}

#product-variations-form .single-variation-row .variation-attributes{
display:inline;
width:80% !important;
}

#product-variations-form .single-variation-row .variation-attributes select{
display:inline;
width:200px;
margin-left:5px;
}

#product-variations-form .single-variation-row .variation-actions{
display:inline;
float:right;
margin-left:5px;
}

#product-variations-form .single-variation-row .variation-row-expand{
background-color:#F4F4F4;
margin:10px -15px;
margin-bottom:-15px;
padding:10px;
}

.cart-product-meta{
margin-top:6px;
color: #333333;
font-weight:bold;
}


.order-note-well{
  margin-bottom:5px;
}

.order-note-well .note-content{
background:#f5f5f5;	
border: 1px solid #e3e3e3;
padding: 10px;
border-radius:2px;
position: relative;
}

.order-note-well .note-content p{
margin: 0px;
padding: 0px;
}

.order-note-well .note-meta {
padding: 10px;
color: #999;
margin: 0px;
}

.order-note-hr {
border-top: 1px solid #eee;
margin-left:-15px;
margin-right:-15px;
margin-top: 10px;
margin-bottom: 10px;
}


.border-table{
border: 1px solid #ddd;
}


.link-separator{
font-size:18px;
margin-top:10px;
margin-left:10px;
color: gray;
}


.link-separator.active-link {
color: black !important;
font-weight: bold !important;
}


.payment-settings .form-group .col-md-7 .form-group{
margin-right: 0px;
margin-left: 0px;
}


.payment-settings h3{
	margin:0px;
	padding:0px;
}

.payment-settings hr{
border-top: 1px solid #eee;
margin-left:-15px;
margin-right:-15px;
margin-top: 15px;
margin-bottom: 15px;
}


